<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Egreso de Bobinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-item class="ion-item-1">
          <ion-textarea #codigos rows="13"
            (keyup)="revisarTexto(codigos.value)"
            (keyup.enter)="presentAlertConfirm(codigos.value)"
            placeholder="Escanea las bobinas para ingresar...">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-row-2 ion-justify-content-center">
      <ion-col size="12">
          <ion-button #btnenviar size="large" expand="block" color="dark"
          (click)="presentAlertConfirm(codigos.value)">
            Enviar
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer class="ion-no-border">
  <div class="tri_inf_izq"> </div>
  <div class="tri_inf_der"></div>
</ion-footer>
