@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

*:not(ion-icon) {
  font-family: 'Rubik', sans-serif!important;
}

ion-header {
  .toolbar {
    --background: rgba(197, 0, 0, 0.9);
    --color: white;
  }
}

ion-content {
  --background: none;
  .ion-row-1{
    padding-top: 4px;
    .ion-list {
      background-color: rgb(232, 233, 233, 0.0);
      border-radius: 3%;
      ion-item {
        --background: rgb(232, 233, 233, 0.8);

      }
    }
  }
}

ion-footer {
  .toolbar {
    --background: rgba(197, 0, 0, 0.5);
    --color: white;
  }
  .ion-row-2{
    .btn-1 {
      --background: rgb(0, 0, 0);
      --color: white;
    }
  }
}
