
<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <div class="tri_sup_izq"> </div>
    <div class="tri_sup_der"></div>
    <ion-title class="title ion-no-padding"><strong>Bodega Planta</strong></ion-title>
    <ion-button class="btn-sand"
      (click)="openMenu()" slot="start" fill="outline" color="warning">
      <ion-icon color="dark" name="menu" color="warning"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content fixed>
  <ion-grid fixed size="sx" class="full-height">
    <ion-row class="full-height ion-align-items-center">
      <ion-col size="12">
        <ion-button color="tertiary btn-renca" size="large" expand="block" (click)="pageMenuRenca()">
          Bodega Renca
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button class="btn-central" size="large" expand="block" (click)="pageMenuPlanta()">
          Bodega Planta
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="tri_inf_izq"> </div>
  <div class="tri_inf_der"></div>
</ion-footer>
